/*Menu Principal*/
body {
    background-color: rgb(43, 41, 41);
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

/*Encabezado*/
header {
    width: 98%;
    /*COLOR */
    background: #3a4a61;
    /*MARGEN*/
    /*Espacio interno*/
    font-family: "Oswald", sans-serif;

    position: fixed;
    /*top: 0;*/
    left: 10PX;

    /*Borde y sombreado*/
    box-shadow: 4px 4px 10px;
    border-radius: 10px;

    /*transicion del panel Menu*/
    top: 20px;
    transition: top 0.3s;
}


header.sticky {
    top: 0;
    /* Cuando se desplaza, se une a la parte superior */
    left: 10 px;
    width: 98%;
    border-radius: 10px;
    /* Ajuste opcional para eliminar el borde redondeado */
}


#stickyMessage {
    display: none;
    position: fixed;
    font-family: "Oswald", sans-serif;
    font-size: 25px;

    /* ajustes */
    left: 70%;
    transform: translateX(-50%);
    color: white;
    padding: 0;
    z-index: 1000;
}

#stickyMessage.show {
    top: 7px;
    transition: top 0.3s;
    display: block;
}

nav ul li a {

    color: white;
    font-size: 16px;
    text-decoration: none;
    margin: 5px;
    padding: 10px 10px;

}

nav ul li {
    display: inline-block;
    margin-right: 20px;

}

nav ul li a:hover {
    box-shadow: 0px 2PX blue;
}

.posicionLogin {
    float: right;
    font: size 5px;
}

#imagenCamionLogin {
    text-align: center;
    border: #007bff;
    /* Alinea la imagen al centro horizontalmente */
}

#imagenCamionLogin img {
    display: block;
    /* Asegura que la imagen sea un elemento de bloque */
    margin: 0 auto;
    /* Establece márgenes automáticos para centrar horizontalmente */
}


#textoLogin h1 {
    font-size: 50px;
    color: white;
    font-family: "Oswald", sans-serif;
}

#textoLogin p {
    font-size: 25px;
    font-family: "Oswald", sans-serif;

}

#menuLogin {
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 100%;
    padding: 10px 20px;
    margin-top: 12px;
    max-width: 350px;
    margin-left: auto;
    margin-right: 30px;

    /* Mueve el elemento a la derecha */
}

#textoLogin,
#menuLogin {
    display: inline-block;
    /* Permite que los divs se coloquen uno al lado del otro */
    vertical-align: top;
    /* Alinea los divs en la parte superior */

    /* Asigna un ancho del 50% para cada div */
    box-sizing: border-box;
    /* Incluye el padding y border en el ancho del div */
}

#textoLogin {
    padding: 100px;
    /* Agrega espacio alrededor del texto */
}

#menuLogin {
    margin-top: 50px;
    margin-left: 10%;
    position: static;
    padding: 20px;
    /* Agrega espacio alrededor del menú de inicio de sesión */
}

input[type="text"],
input[type="password"] {
    font-size: 1.2em;
    /* Ajusta el tamaño según tus necesidades */
    width: 250px;
    /* Ajusta el ancho según tus necesidades */
    height: 30px;
    /* Ajusta el alto según tus necesidades */
    /* Otros estilos opcionales */
    padding: 5px;
    /* Añade espacio interno alrededor del texto */
    border: 1px solid #ccc;
    /* Añade un borde alrededor del input */
    border-radius: 5px;
    /* Añade esquinas redondeadas al input */
    text-align: center;
    margin-bottom: 10px;
    margin: 0 25px 6px;
}



#inicioSesion {
    margin-left: 40px;
    border: none;
    color: white;
    padding: 14px 78px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #007bff;
    box-shadow: 4px 4px 10px;
    /* Color base del botón */
    transition: transform 0.3s ease-in-out;
    /* Transición suave del efecto de pulsación */
}

#inicioSesion:hover {
    background-color: #0056b3;
    /* Cambia el color al pasar el cursor sobre el botón */
}

#inicioSesion:active {
    transform: scale(0.90);
    /* Reduce ligeramente el tamaño del botón cuando se hace clic */
}

footer {

    display: flex;
    /* Utiliza flexbox para alinear los elementos */
    justify-content: space-between;
    /* Alinea los elementos en los extremos */
    align-items: center;
    /* Centra verticalmente los elementos */
    background-color: #f0f0f0;
    /* Color de fondo del footer */
    padding: 10px 40px 0px;
    /* Agrega espacio alrededor del contenido del footer */
}

#footer-left {
    flex: 1;
    /* Hace que este div ocupe el espacio necesario */
}

.footer-derecha {
    flex: 2;
    /* Evita que este div ocupe más espacio del necesario */
}

#footer-left ul li {
    text-decoration: none;

}

#textoLogin p {
    color: #639ad4;
}