body {

    background-attachment: fixed;

    background-position: 61%;


}

/*Encabezado*/
header {
    /*COLOR */
    background: white;
    /*MARGEN*/
    margin: 25px;
    margin-top: 40px;
    /*Espacio interno*/
    font-family: "Oswald", sans-serif;

    background-attachment: fixed;
    padding: 15px 5px;
    box-shadow: 4px 4px 10px;
    border-radius: 10px;
}


/*Menu Listas*/
nav ul li a {

    font-weight: bold;
    color: black;
    font-size: 16px;
    text-decoration: none;
    margin: 5px;
    padding: 10px 10px;

}



nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a:hover {
    box-shadow: 0px 2PX blue;
}


/*Login*/
.posicionLogin {
    float: right;
    font: size 5px;
}

nav ul li div.contenedorLogin {

    position: relative;
    font: size 5px;

}

nav ul li a.admin {
    font-size: 10px;
    margin: 0px;
    padding: 0px 0px;

}

/*
nav ul li div span.MenuLogin {

    cursor: pointer;
    position: relative;

}
*/
.contenidoMenu {

    display: none;
    position: absolute;
    top: 100%;
    right: 0%;

    background-color: #fdfdfd;
    min-width: 160px;

    list-style-type: none;

    padding: 0;

    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

}


.contenidoMenu li {
    font: size 5px;
    padding: 12px 16px;
}

.contenedorLogin:hover .contenidoMenu {
    font: size 5px;
    display: block;

}

/*Jorge*/
#logoIzquierda {
    float: right;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 10%;
    box-shadow: 7px 7px 12px;
    width: 30%;
    height: 30%;
}

#logoIzquierda:hover {
    box-shadow: 3px 3px 10px;
}

p {
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}


#TituloParrafo {
    font-size: 29px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



/*Cosas para intentar*/

.contenedorOpinones {
    display: flex;
    align-items: center;
    justify-content: center;

}

.PersonaOpinon img {
    flex-grow: 7;
}

.imagenOpinion {
    height: 12%;
    width: 12%;
    border-radius: 50%;

}



.textoOpinion {
    justify-content: right;

}

.imagenAcercaDeNosotros img {
    border-radius: 50%;

}

footer {
    border-radius: 10px;
    background-color: rgb(155, 55, 155);
    display: grid;

}

.footer-derecha {

    align-items: right;
}


/*Estilo Panel Admin*/
.panel {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
}

.panel ul {
    list-style-type: none;
    padding: 0;
}

.panel ul li {
    margin-bottom: 10px;
}

.panel ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 10px;
    background-color: #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.panel ul li a:hover {
    background-color: #ce1919;
}

.content {
    margin-left: 270px;
    /* Adjust according to panel width */
    padding: 20px;
}

.section {
    display: none;
}

.section:target {
    display: block;
}


/*Empleados*/
#panelEmpleado {
    background-color: #f0f0f0;
    padding: 20px;
}

/* Estilos para el contenido de rutas */
#ruta {
    background-color: #ccffcc;
    /* Verde claro */
    padding: 20px;
}

/* Estilos para el contenido de vehículos */
#vehiculos {
    background-color: #d0d0d0;
    padding: 20px;
}

/* Estilos para el contenido de cargas */
#cargas {
    background-color: #c0c0c0c4;
    padding: 20px;
}


     
            
            

