*{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body {
    background-attachment: fixed;
    background-color: rgb(136, 153, 230);
    background-position: 50%, 0;
    /*hola esto es un cambio*/


}

/*Encabezado*/
header {
    /*COLOR */
    background: white;
    /*MARGEN*/
    margin: 25px;
    margin-top: 40px;
    /*Espacio interno*/
    padding: 15px 5px;
    box-shadow: 4px 4px 10px;
    border-radius: 10px;
}


/*Menu Listas*/
nav ul li a {

    font-weight: bold;
    color: black;
    font-size: 16px;
    text-decoration: none;
    margin: 5px;
    padding: 10px 10px;
    

}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    
}

nav ul li a:hover {
    box-shadow: 0px 2PX blue;
}

nav ul li.Login {
    float: right;
}

#logoIzquierda{
    float:right;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 10%;
    box-shadow: 7px 7px 12px;
    width: 30%;
    height: 30%;
}

p{
    font-size: 24px;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
   
}

#TituloParrafo{
    font-size: 29px;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    
}

/* <uniquifier>: Use a unique and descriptive class name*/
/* <weight>: Use a value from 200 to 700*/

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ContenedorParrafoImagen{
    background-color: white;
}